@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Bold";
  src: url("../src/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../src/assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../src/assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../src/assets/fonts/Poppins-SemiBold.ttf");
}

.mezmur-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9e9e9e transparent;
}
.mezmur-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.mezmur-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.mezmur-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 20px;
  border: transparent;
}

.bg-gradient {
  background: linear-gradient(to bottom, #6f6af8 0%, #8ecffb 100%);
}
